@charset "UTF-8";
.importante {
    font-weight: 550;
}
.basico {
    color: rgb(0, 255, 38);
}
.intermediario {
    color: darkgoldenrod;
}
.avançado {
    color: brown;
}

body { background-color: rgba(167, 213, 185, 0.755);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    font-weight: normal;
    font-style: normal;
    text-indent: 20px;
}
#diferenciado {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background-color: rgb(40, 105, 51);
    color: white;

}
h1 {
    color: rgb(40, 105, 51);
}
h2 {
    color: rgb(62, 128, 44);
}